<nav class="pa2 pa3-ns helvetica">
    <a class="link dim near-black b f1 f-headline-ns tc db mb1 mb2-ns" href="#" title="Home">Static Sites 101</a>
    <p class="dark-gray tc f3 f4-ns mb3 mb4-ns">Professional Diploma in Digital Learning Design</p>
    <div class="tc pb3">
      <a class="link dim gray f6 f5-ns dib mr3" href="#" title="Introduction">Introduction</a>
      <a class="link dim gray f6 f5-ns dib mr3" href="#" title="Part One">Part One</a>
      <a class="link dim gray f6 f5-ns dib mr3" href="#" title="Part Two">Part Two</a>
      <a class="link dim gray f6 f5-ns dib mr3" href="#" title="Part Three">Part Three</a>
      <a class="link dim gray f6 f5-ns dib" href="#" title="About">About</a>
    </div>
  </nav>